body {
  font-family: Tahoma, Geneva, sans-serif;
  color: rgb(0, 0, 0);
  background: url(asset/images/vote.jpg);
  background-size: cover;
  line-height: 1.25;
}
a {
  color: rgb(80, 3, 0);
  text-decoration: blink;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: 35px;
}
.reset,
.forget {
  background: rgba(44, 62, 80, 0.7);
  padding: 40px;
  width: 250px;
  height: 400px;
  margin-left: 180px;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
h2 {
  margin-top: 15px;
  margin-left: 10px;
}
input[type="password"] {
  width: 240px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  text-align: center;
  color: white;
}
input[type="button"] {
  border: none;
  background: white;
  color: black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 12px;
  cursor: pointer;
  width: 180px;
  margin-left: 30px;
}
input[type="button"]:hover {
  background: black;
  color: white;
}
::placeholder {
  color: aliceblue;
  opacity: 0.8; 
}
#msg {
  visibility: hidden;
  min-width: 250px;

  background-color: yellow;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30%;
  top: 30px;
  font-size: 17px;
  margin-right: 50px;
}

#msg.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
.panels {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.panel {
  width: 29%;
  height: 29%;
  text-align: center;
  margin-bottom: 5%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 6px 3px #e9e8e8;
  background-color: rgba(44, 62, 80, 0.7);
}
.panel::after {
  content: "";
  display: block;
  padding-top: calc(100% / 1.618);
}
.cong {
  text-align: center;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 60%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    color: #000;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    background: #9fbfdf;
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px dashed #fff;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.party {
  
  width: 80;
  height: 80;
}

input[type="button"] {
  border: none;
  width: 190px;
  background: grey;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type="button"]:hover {
  color: #fff;
  background-color: black;
}
#data_table{
  background: rgba(44, 62, 80, 0.7);
  padding: 40px;
  margin: auto;
  margin-top: 30px;
  height: 400px;
  border-radius: 20px;
}
table{
  border-radius: 20px;
}
.back{
  text-align: center;
}